In [60]:
import pandas as pd 
df1 = pd.read_csv('/Users/jason/Desktop/Stakeholder_Project/Datasets/customer_details.csv')
df2 = pd.read_csv('/Users/jason/Desktop/Stakeholder_Project/Datasets/E-commerece sales data 2024.csv')
df3 = pd.read_csv('/Users/jason/Desktop/Stakeholder_Project/Datasets/product_details.csv')
pd.set_option('display.max_columns', None)

In [61]:
df1.columns = df1.columns.str.replace(' ', '_').str.lower()
df2.columns = df2.columns.str.replace(' ', '_').str.lower()
df3.columns = df3.columns.str.replace(' ', '_').str.lower()

In [53]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             3900 non-null   int64
 1   age                     3900 non-null   int64
 2   gender                  3900 non-null   object
 3   item_purchased          3900 non-null   object
 4   category                3900 non-null   object
 5   purchase_amount_(usd)   3900 non-null   int64
 6   location                3900 non-null   object
 7   size                    3900 non-null   object
 8   color                   3900 non-null   object
 9   season                  3900 non-null   object
 10  review_rating           3900 non-null   float64
 11  subscription_status     3900 non-null   object
 12  shipping_type           3900 non-null   object
 13  discount_applied        3900 non-null   object
 14  promo_code_used         3900 non-null   object
 15  previous_purchases      3900 non-null   int64
 16  payment_method          3900 non-null   object
 17  frequency_of_purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [54]:
df1

,customer_id,age,gender,item_purchased,category,purchase_amount_(usd),location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [55]:
longest_item = df1['frequency_of_purchases'].apply(len).idxmax()
longest_item_value = df1['frequency_of_purchases'][longest_item]
long = len(longest_item_value)
print(f"Length: {long}, Longest Item: {longest_item_value}")

Length: 14, Longest Item: Every 3 Months

In [56]:
df1.subscription_status.value_counts()

subscription_status
No     2847
Yes    1053
Name: count, dtype: int64

In [62]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3294 entries, 0 to 3293
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           2999 non-null   float64
 1   product_id        2999 non-null   object
 2   interaction_type  2871 non-null   object
 3   time_stamp        2999 non-null   object
 4   unnamed:_4        0 non-null      float64
dtypes: float64(2), object(3)
memory usage: 128.8+ KB

In [63]:
df2 = df2.dropna(axis=1, how='all')

In [64]:
df2

,user_id,product_id,interaction_type,time_stamp
0,1.0,4c69b61db1fc16e7013b43fc926e502d,purchase,10/10/2023 8:00
1,2.0,66d49bbed043f5be260fa9f7fbff5957,view,11/10/2023 8:00
2,3.0,2c55cae269aebf53838484b0d7dd931a,like,12/10/2023 8:00
3,4.0,18018b6bc416dab347b1b7db79994afa,view,13/10/2023 8:00
4,5.0,e04b990e95bf73bbe6a3fa09785d7cd0,like,14/10/2023 8:00
...,...,...,...,...
3289,NaN,NaN,NaN,NaN
3290,NaN,NaN,NaN,NaN
3291,NaN,NaN,NaN,NaN
3292,NaN,NaN,NaN,NaN
3293,NaN,NaN,NaN,NaN

In [65]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   uniqe_id               10002 non-null  object
 1   product_name           10002 non-null  object
 2   brand_name             0 non-null      float64
 3   asin                   0 non-null      float64
 4   category               9172 non-null   object
 5   upc_ean_code           34 non-null     object
 6   list_price             0 non-null      float64
 7   selling_price          9895 non-null   object
 8   quantity               0 non-null      float64
 9   model_number           8230 non-null   object
 10  about_product          9729 non-null   object
 11  product_specification  8370 non-null   object
 12  technical_details      9212 non-null   object
 13  shipping_weight        8864 non-null   object
 14  product_dimensions     479 non-null    object
 15  image                  10002 non-null  object
 16  variants               2478 non-null   object
 17  sku                    0 non-null      float64
 18  product_url            10002 non-null  object
 19  stock                  0 non-null      float64
 20  product_details        0 non-null      float64
 21  dimensions             0 non-null      float64
 22  color                  0 non-null      float64
 23  ingredients            0 non-null      float64
 24  direction_to_use       0 non-null      float64
 25  is_amazon_seller       10002 non-null  object
 26  size_quantity_variant  0 non-null      float64
 27  product_description    0 non-null      float64
dtypes: float64(13), object(15)
memory usage: 2.1+ MB

In [66]:
df3 = df3.dropna(axis=1, how='all')

In [67]:
df3

,uniqe_id,product_name,category,upc_ean_code,selling_price,model_number,about_product,product_specification,technical_details,shipping_weight,product_dimensions,image,variants,product_url,is_amazon_seller
0,4c69b61db1fc16e7013b43fc926e502d,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",Sports & Outdoors | Outdoor Recreation | Skate...,NaN,$237.68,NaN,Make sure this fits by entering your model num...,Shipping Weight: 10.7 pounds (View shipping ra...,NaN,10.7 pounds,NaN,https://images-na.ssl-images-amazon.com/images...,https://www.amazon.com/DB-Longboards-CoreFlex-...,https://www.amazon.com/DB-Longboards-CoreFlex-...,Y
1,66d49bbed043f5be260fa9f7fbff5957,"Electronic Snap Circuits Mini Kits Classpack, ...",Toys & Games | Learning & Education | Science ...,NaN,$99.95,55324,Make sure this fits by entering your model num...,Product Dimensions: 14.7 x 11.1 x 10.2...,The snap circuits mini kits classpack provides...,4 pounds,14.7 x 11.1 x 10.2 inches 4.06 pounds,https://images-na.ssl-images-amazon.com/images...,NaN,https://www.amazon.com/Electronic-Circuits-Cla...,Y
2,2c55cae269aebf53838484b0d7dd931a,3Doodler Create Flexy 3D Printing Filament Ref...,Toys & Games | Arts & Crafts | Craft Kits,NaN,$34.99,NaN,Make sure this fits by entering your model num...,ProductDimensions:10.3x3.4x0.8inches|ItemWeigh...,show up to 2 reviews by default No longer are ...,12.8 ounces,NaN,https://images-na.ssl-images-amazon.com/images...,NaN,https://www.amazon.com/3Doodler-Plastic-Innova...,Y
3,18018b6bc416dab347b1b7db79994afa,Guillow Airplane Design Studio with Travel Cas...,Toys & Games | Hobbies | Models & Model Kits |...,NaN,$28.91,142,Make 8 different Planes at one time. | Experim...,ProductDimensions:3.5x6.2x13inches|ItemWeight:...,Go to your orders and start the return Select ...,13.4 ounces,NaN,https://images-na.ssl-images-amazon.com/images...,NaN,https://www.amazon.com/Guillow-Airplane-Design...,Y
4,e04b990e95bf73bbe6a3fa09785d7cd0,Woodstock- Collage 500 pc Puzzle,Toys & Games | Puzzles | Jigsaw Puzzles,NaN,$17.49,62151,Make sure this fits by entering your model num...,ProductDimensions:1.9x8x10inches|ItemWeight:13...,show up to 2 reviews by default 100% Officiall...,13.4 ounces,NaN,https://images-na.ssl-images-amazon.com/images...,NaN,https://www.amazon.com/Woodstock-Collage-500-p...,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9997,1a22f23576bfdfe5ed6c887dc117aab6,Remedia Publications REM536B Money Activity Bo...,Toys & Games | Learning & Education | Counting...,NaN,$9.31,REM536B,NaN,Product Dimensions: 11 x 8.5 x 0.4 inc...,show up to 2 reviews by default Activities inc...,4.8 ounces,11 x 8.5 x 0.4 inches 1.6 ounces,https://images-na.ssl-images-amazon.com/images...,NaN,https://www.amazon.com/Remedia-Publications-RE...,Y
9998,e11514dcf1f087887cd5ea0bd646d1fc,Trends International NFL La Chargers HG - Mobi...,Toys & Games | Arts & Crafts,NaN,$6.99,NaN,Make sure this fits by entering your model num...,ProductDimensions:3x6.5x0.3inches|ItemWeight:0...,The mobile wallet is made of silicone with str...,0.96 ounces,NaN,https://images-na.ssl-images-amazon.com/images...,NaN,https://www.amazon.com/Trends-International-NF...,Y
9999,c00301a38560da2abc89c1f86ce4b267,NewPath Learning 10 Piece Science Owls and Owl...,Office Products | Office & School Supplies | E...,NaN,$37.95,34-6015,Make sure this fits by entering your model num...,Product Dimensions: 18 x 11.9 x 0.7 in...,show up to 2 reviews by default NewPath Learni...,2.8 pounds,18 x 11.9 x 0.7 inches 2.75 pounds,https://images-na.ssl-images-amazon.com/images...,NaN,https://www.amazon.com/NewPath-Learning-Scienc...,Y
10000,c2928dbf9796ceba44863a2736afb405,Disney Princess Do It Yourself Braid Set,Toys & Games | Arts & Crafts | Craft Kits,NaN,$3.58,2888PRST,NaN,ProductDimensions:7x7x2inches|ItemWeight:6.1ou...,Disney Princess DIY Braid Set | 6.1 ounces (Vi...,6.1 ounces,NaN,https://images-na.ssl-images-amazon.com/images...,NaN,https://www.amazon.com/Disney-Princess-Yoursel...,Y
10001,2bb94aefc3467ed83860e0e2712d5f10,"Hasegawa Ladders Lucano Step Ladder, Orange",Home & Kitchen | Furniture | Kids' Furniture |...,NaN,$152.27,ML2.0-4OR,Make sure this fits by entering your model num...,ProductDimensions:22.8x6x64.2inches|ItemWeight...,Go to your orders and start the return Select ...,20.5 pounds,NaN,https://images-na.ssl-images-amazon.com/images...,https://www.amazon.com/Hasegawa-Ladders-Lucano...,https://www.amazon.com/Hasegawa-Ladders-Lucano...,Y

In [68]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   uniqe_id               10002 non-null  object
 1   product_name           10002 non-null  object
 2   category               9172 non-null   object
 3   upc_ean_code           34 non-null     object
 4   selling_price          9895 non-null   object
 5   model_number           8230 non-null   object
 6   about_product          9729 non-null   object
 7   product_specification  8370 non-null   object
 8   technical_details      9212 non-null   object
 9   shipping_weight        8864 non-null   object
 10  product_dimensions     479 non-null    object
 11  image                  10002 non-null  object
 12  variants               2478 non-null   object
 13  product_url            10002 non-null  object
 14  is_amazon_seller       10002 non-null  object
dtypes: object(15)
memory usage: 1.1+ MB

In [23]:
df1.to_csv('customer_details_cleaned.csv', index=False)
df2.to_csv('sales_data_cleaned.csv', index=False)
df3.to_csv('product_details_cleaned.csv', index=False)